.footer{
  background-color: $bg;
  padding: 100px;
}
.footer-nav{
  &__item{
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &__link{
    font: 400 16px/20px $font;
    color: $white;
    letter-spacing: 0.43px;
  }
}