.footer {
  background-color: $bg;
  min-height: 390px;
  padding: 74px 120px;
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .8);
    position: absolute;
    z-index: -1;
  }

  &__container {
    display: flex;
    position: relative;
    z-index: 2;
  }
}

.footer-nav {
  &__title {
    font: 700 20px /37px $font;
    margin-bottom: 14px;
    color: $white;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    font: 400 16px/20px $font;
    color: $white;
    letter-spacing: 0.43px;
  }
}

.footer-contacts {
  margin-left: 17%;

  &__address {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    &-text {
      color: $white;
      font: 700 20px/30px $font;
      letter-spacing: 0.46px;

      &--br {
        font: 400 16px/30px $font;
      }
    }

    &-icon {
      margin-right: 20px;
      width: 32px;
      height: 38px;
    }
  }

  &__tel {
    display: flex;
    align-items: center;
    color: $white;

    &-text {
      color: $white;
      font: 700 20px/30px $font;
      letter-spacing: 0.46px;

      &--br {
        font: 400 16px/30px $font;
      }
    }

    &-icon {
      margin-right: 20px;
      width: 32px;
      height: 32px;
    }
  }
}

.our-com {
  margin-left: 13%;

  &__text {
    color: $white;
    font: 700 20px/30px $font;
    letter-spacing: 0.46px;

    &--br {
      font: 400 16px/30px $font;
    }
  }
}

@media (max-width: 970px) {
  .footer {
    padding: 74px 0;


    background-size: cover;

    &__container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }
}

@media (max-width: 480px) {
  .footer-nav__item {
    text-align: center;
  }

  .footer-contacts {
    margin-left: 0px;
  }
  .our-com {
    margin-left: 0px;
}
}