.header {
  position: relative;

  &__container {
    padding: 20px 15px;
  }

  &__actions {
    position: relative;
  }
}

.header-search {
  margin-right: 20px;

  &__icon {
    width: 26px;
    height: 26px;
    margin-right: 12px;
  }

  &__input {
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 0;
    transition: width .3s;
    border-radius: 5px;

    &::first-letter {
      text-transform: uppercase;
    }

    &--visible {
      width: 150px;
      border: 1px solid #CECECE;
      margin-left: 10px;
      font: 400 16px/22px Roboto;
      padding-left: 10px;
      color: #545454;
    }
  }
}

.search-elements {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  background-color: rgba($white, .95);
  padding: 10px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: opacity .3s;
  opacity: 1;
  z-index: 10;

  &__item {
    align-items: center;
    transition: all .3s;

    &:hover {
      color: $black;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &-img {
      width: 30px;
      margin-right: 20px;
    }

    &-name {

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.search-elements.hide {
  transition: all .2s;
  opacity: 0;
}

.menu {
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    color: $black;
    font: 400 14px /16px $font;
    transition: all .3s;

    &.active-link {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
      pointer-events: none;
    }

    &:hover {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
  }
}

.submenu {
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
  background-color: rgba($white, .95);
  transition: all .2s ease-in-out;
  opacity: 0;
  height: 0;
  will-change: height;

  &__list {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    font: 400 14px/16px $font;
    transition: all .2s ease-in-out;
    letter-spacing: 0.48px;
    &.submenu__link--active{
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
      pointer-events: none;
    }

    &:hover {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
  }

  &__title {
    font: 700 14px/16px $font;
    margin-bottom: 20px;
    letter-spacing: 0.48px;
    display: block;
    &.submenu__link--active{
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
      pointer-events: none;
    }
   
  }

  &__btn {
    font: 400 14px/16px $font;
    color: $black;
    transition: all .1s;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-flag {
      display: block;
      width: 12px;
      height: 12px;
      margin-left: 10px;
      position: relative;
      &.submenu__btn-flag--active{
        &::after{
          transition: all .3s;
          transform: rotate(90deg);
        }
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: rgb(0, 0, 0);
        transition: all .3s;
      }

      &::before {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 3px;
      }

      &::after {
        width: 3px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }

      &--black {

        &::after,
        &::before {
          background-color: $black;
        }
      }
    }


    &.active-link {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }

    &:hover {
      transition: text-shadow .3s;
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
  }

}

.logo {
  font: 400 30px/40px "Bree Serif";
  position: absolute;
  top: 44%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  color: $black;
}

.burger-menu {
  width: 39px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  transition: all .3s;
  display: none;

  &__line {
    width: 100%;
    height: 3px;
    background-color: $black;
    transition: all .3s;
    background-color: $black;
    opacity: 1;
  }
}


.burger-menu.burger-menu--visible {
  left: -16px;
  transition: all .3s;

  .burger-menu__line {
    background-color: $white;
    transition: all .3s;

    &:nth-child(1) {
      transform: rotate(45deg) translateX(15px) translateY(-2px);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translateX(15px) translateY(2px);
    }
  }
}

.submenu.submenu--opened {
  opacity: 1;
  z-index: 10;
}

.menu.menu--visible {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(0);
  background-color: $black;
  max-width: 320px;
  width: 100%;
  height: 100vh;
  padding-left: 15px;
  transition: all .3s;
  z-index: 5;
  overflow-y: scroll;

  .menu__list {
    flex-direction: column;
    align-items: flex-start;

    padding: 75px 0 88px;

    .menu__item {
      border-bottom: 1px solid #2B2B2B;
      width: 100%;

      &:first-child {
        border-top: 1px solid #2B2B2B;
      }

      .submenu__btn {
        color: $white;
        padding: 20px 0px;
        width: 100%;
        padding-right: 15px;

      }

      .menu__link {
        padding: 20px 0px;
        color: $white;
        display: block;

        &--active {
          font-weight: 900;
          color: #ff7f7f;
          pointer-events: none;
        }
      }

      .submenu {
        position: static;
        padding-top: 0;
        background-color: $black;
        color: $white;
        z-index: -100;
        transform: translateX(-200%);
        transition: all .3s;

        .container {
          display: block;
          padding: 0;

          .submenu__list {
            &:not(:last-child) {
              margin-bottom: 30px;
            }
            .submenu__title{
              &.submenu__link--active{
                font-weight: 900;
                  color: #ff7f7f;
                  pointer-events: none;
              }
            }
            .submenu__item {
              .submenu__link {
                &--active {
                  font-weight: 900;
                  color: #ff7f7f;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }

      .submenu.submenu--opened {
        transition: all .3s;
        padding: 30px 0;
        z-index: 1;
        transform: translateX(0%);
      }
    }
  }

}

@media (max-width: 1150px) {
  .menu {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-200%);
    background-color: $black;
    max-width: 320px;
    width: 100%;
    height: 100vh;
    padding-left: 15px;
    transition: all .3s;

    &__list {
      display: block;
      padding: 75px 0 88px;
    }
  }

  .header__actions {
    margin-left: auto;
  }

  .burger-menu {
    display: flex;
  }

  .search-elements {
    padding-top: 50px;
    right: 20px;
  }

  .header-search__input {
    position: absolute;

  }

  .header-search__input--visible {
    position: absolute;
    bottom: -55px;
    right: 20px;
    z-index: 11;
    width: 300px;
  }

  .header-search__btn {
    position: relative;
    z-index: 14;
  }
  .submenu__btn-flag::after, .submenu__btn-flag::before {
    background-color: $white;
}
}

@media (max-width: 440px) {
  .header-search {
    margin-right: 0px;
  }

  .header-search__text {
    display: none;
  }

  .header-search__icon {
    margin-right: 0px;
  }

  .search-elements {
    right: 0px;
  }

  .header-search__input--visible {

    right: 0px;

  }
}