.header {
  position: relative;

  &__container {
    padding: 20px 15px;
  }

  &__actions {
    position: relative;
  }
}

.header-search {
  margin-right: 20px;

  &__icon {
    width: 26px;
    height: 26px;
    margin-right: 12px;
  }

  &__input {
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 0;
    transition: width .3s;
    border-radius: 5px;
    text-transform: lowercase;

    &--visible {
      width: 150px;
      border: 1px solid #CECECE;
    }
  }
}

.search-elements {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  background-color: rgba($white, .95);
  padding: 10px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: opacity .3s;
  opacity: 1;
  z-index: 10;

  &__item {
    align-items: center;
    transition: all .3s;

    &:hover {
      color: $black;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &-img {
      width: 30px;
      margin-right: 20px;
    }

    &-name {
      text-transform: lowercase;
    }
  }
}

.search-elements.hide {
  transition: all .2s;
  opacity: 0;
}

.menu {
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    color: $black;
    font: 400 14px /16px $font;
    transition: all .3s;

    &.active-link {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
      pointer-events: none;
    }

    &:hover {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
  }
}

.submenu {
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;
  background-color: rgba($white, .95);
  transition: all .2s ease-in-out;
  opacity: 0;
  height: 0;
  will-change: height;

  &__list {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    font: 400 14px/16px $font;
    transition: all .2s ease-in-out;
    letter-spacing: 0.48px;

    &:hover {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
  }

  &__title {
    font: 700 14px/16px $font;
    margin-bottom: 20px;
    letter-spacing: 0.48px;
    display: block;
  }

  &__btn {
    font: 400 14px/16px $font;
    color: $black;
    transition: all .1s;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-flag{
      display: block;
      width: 18px;
      height: 18px;
      margin-left: 10px;
      position: relative;
      &::before,&::after{
        content: '';
        position: absolute;
        background-color: #fff;
      }
      &::before{
        width: 100%;
        top:50%;
        transform: translateY(-50%);
        left:0;
        height: 3px;
      }
      &::after{
        width: 3px;
        height: 100%;
        left:50%;
        transform: translateX(-50%);
        top:0;
      }
    }

    &.active-link {
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }

    &:hover {
      transition: text-shadow .3s;
      text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    }
  }
}

.logo {
  font: 400 30px/40px "Bree Serif";
  position: absolute;
  top: 44%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  color: $black;
}

.burger-menu {
  width: 39px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;

  &__line {
    width: 100%;
    height: 3px;
    background-color: $black;
  }
}

.burger-menu.burger-menu--visible {
  .burger-menu__line {
    background-color: #fff;
  }
}

.submenu.submenu--opened {
  opacity: 1;
  z-index: 10;
}

.menu.menu--visible {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $black;
  max-width: 320px;
  width: 100%;
  height: 100vh;
  padding-left: 15px;
  

  .menu__list {
    flex-direction: column;
    align-items: flex-start;

    padding: 75px 0 88px;

    .menu__item {
      border-top: 1px solid #2B2B2B;

      &:last-child {
        border-bottom: 1px solid #2B2B2B;
      }

      width: 100%;

      .submenu__btn {
        color: $white;
        padding: 20px 0px;
        width: 100%;
    padding-right: 15px;
      }

      .menu__link {
        padding: 20px 0px;
        color: $white;
        display: block;
      }
    }
  }

}

@media (max-width: 1100px) {
  .menu {
    display: none;
  }

  .header__actions {
    margin-left: auto;
  }
}