.all-categories {
  .top {
    background-image: url('../images/dest/pageCategories/top-bg.png');
    z-index: 0;

    &__container {
      justify-content: center;
      align-items: flex-end;
      min-height: inherit;
      padding-bottom: 50px;
      // background-color: #000;
    }



    &__title {
      font: 700 40px / 46px $font;
      letter-spacing: 2.6px;
      margin-top: -98px;
      color: $black;
    }
  }

  .category__items {
    display: flex;
    flex-wrap: wrap;
    gap: 55px 65px;
    justify-content: center;
    align-items: stretch;
    padding: 25px 0 85px;
  }

  .category__item {
    width: 260px;
    display: flex;
    flex-direction: column;

    &-box {
      margin-bottom: -11px;

    }

    &-icon {
      width: 122px;
      height: 122px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      place-items: center;
      position: relative;
      z-index: 0;
      margin: -84px auto 0;
    }

    &-svg {
      width: 62px;
      height: 62px;
      display: block;
      margin: 0 auto;
    }

    &-text {
      color: #727272;
      font: 400 14px/25px $font;
      letter-spacing: .46px;
      text-align: center;
      margin-bottom: 25px;
      margin-top: 11px;
    }

    &-link {
      width: 100%;
      margin-top: auto;
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .all-categories {
    .top {
      background-image: url('../images/dest/pageCategories/topBgMin.jpg');

    }
  }
}