.fortuflex-caps{
  .top{
    background-color: #83D2B6;
    min-height: 512px;
    &__container{
      position: relative;
      min-height: inherit;
      padding-top: 70px;
    }
    
    &__info{
      max-width: 550px;
      position: relative;
      z-index: 3;
    }
    &__title{
      font: 900 30px / 35px $font;
      letter-spacing: 0.48px;
      margin-bottom: 30px;
    }
    &__subtitle{
      font: 400 16px /34px $font;
      letter-spacing: 1.2px;
    }
    &-decor--img{
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      width: 264px;
      display: block;
      filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0.4));
      z-index: 2;
      img{
        display: block;
      }
    }
    &-decor{
      width: fit-content;
      position: absolute;
      bottom: -27px;
      left: 50%;
      transform: translateX(-50%);
      font: 900 200px / 200px $font;
      letter-spacing: 0.48px;
      color: #7CC6AC;
      z-index: 1;
    }
  }
}