.muscles-category {
  .top{
    &__title{
     color: $white;
    }
    &__subtitle{
      color: $white;
    }
  }
  .wrapper {
    .about-product {
      .about-product__description {
        .about-product__top {
          .about-product__top-info {
            .about-product__top-inner {
              padding-top: 0;
            }
          }
        }
        .about-product__bottom{
          &-info{
            .about-product__bottom-inner{
              .about-product__description-title,.about-product__description-text{
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}