.joints {
  
  .top {
    min-height: 323px;
    &::before{
      background-color: rgba(#83D2B6, .5);
    }
    &__container{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: inherit;
      width: 100%;
    }
    &__title{
      margin-top: -72px;
      letter-spacing: 2px;
    }
  }
  &-title{
    padding: 26px 0 0px;
    max-width: 1009px;
    margin: 0 auto;
    text-align: center;
    font:400 18px/25px $font;
    letter-spacing: 0.48px;
    color: #727272;
  }
  .categories{
    &__items{
      padding: 36px 50px 50px;
    }
  }
}