.main {
  .hero {
    padding: 100px 0;
    min-height: 765px;
    display: flex;
    background-color: #eedecf;
    @extend %bg-cover;
    background-image: url('../images/dest/mainPage/heroBg.png');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &__container {
      justify-content: center;
      width: 100%;
    }

    &__info {
      color: $black;
      margin-top: -150px;
    }

    &__title {
      font: 900 40px /45px $font;
      margin-bottom: 10px;
      letter-spacing: 1.2px;
    }

    &__descr {
      font: 400 20px/34px Roboto;
      letter-spacing: .43px;
      max-width: 350px;
    }
  }

  // product-descr
  .product-descr {
    padding: 31px 0;
    position: relative;

    &__title {
      max-width: 890px;
      text-align: center;
      font: 700 30px/37px Roboto;
      margin-bottom: 50px;
      color: #000;
      letter-spacing: 0.95px;
    }

    &__link {
      display: block;
      width: fit-content;
    }

    .swiper-container {
      margin: 0 auto 50px;
      max-width: 670px;
    }

    .swiper-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .swiper-slide {
      width: 103px;
      width: 100%;

      &__box {
        width: 62px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &__img {
        width: 62px;
        height: 62px;
        display: block;
        margin-bottom: 15px;
      }

      &__text {
        white-space: nowrap;
      }
    }
  }

  .slideProdDescr-btn {
    display: none;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #F3F3F3;
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .slideProdDescr-btn-prev {
    @extend %bg-contain;
    background-size: 50%;
    background-image: url('../images/dest/sprite.svg#prevArrow');
    left: 10px;
  }

  .slideProdDescr-btn-next {
    @extend %bg-contain;
    background-size: 50%;
    background-image: url('../images/dest/sprite.svg#nextArrow');
    right: 10px;
  }

  // product-descr
  //preview
  .preview {
    padding: 10px 0 40px;
    position: relative;
    overflow-x: hidden;
  }

  .preview-content {
    &__top {
      grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
      grid-template-rows: 380px;
      grid-gap: 30px 64px;
      margin-bottom: 99px;
    }

    &__bottom {
      grid-template-columns: repeat(auto-fill, minmax(510px, 1fr));
      grid-gap: 30px 0px;

      &-left {
        padding-right: 190px;
      }

      &-right {
        position: absolute;
        left: 50%;
        width: 100%;
        background-color: #EFDDCF;
      }

    }

    &__title {
      font: 900 40px/55px $font;
      letter-spacing: 2.3px;
      margin-bottom: 18px;
      color: $black;
    }

    &__descr {
      margin-bottom: 31px;
    }

    &__text {
      font: 300 16px/34px $font;
      letter-spacing: 1.6px;
      color: $black;

      &:not(:last-child) {
        margin-bottom: 18px;
      }

      &--accent {
        font-weight: 500;
      }
    }

    &__link {
      @extend %bg-cover;
      text-align: center;

      &-text {
        max-width: 350px;
        font: 900 25px / 37px $font;
        letter-spacing: 0.48px;
        color: $black;
      }

      &-more {
        max-width: 323px;
        width: 100%;
        display: block;
        text-align: center;
      }
    }

    &__img {
      max-width: 962px;
    }
  }

  //preview

  // slider-categories
  .slider-categories {
    padding: 31px 0 50px;
  }


  .slider-categories__container>.swiper-container>.slide-btn {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #F3F3F3;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .slider-categories__container>.swiper-container>.slide-btn-prev {
    @extend %bg-contain;
    background-size: 50%;
    background-image: url('../images/dest/sprite.svg#prevArrow');
    left: 0;
  }

  .slider-categories__container>.swiper-container>.slide-btn-next {
    @extend %bg-contain;
    background-size: 50%;
    background-image: url('../images/dest/sprite.svg#nextArrow');
    right: 0;
  }

  // slider-categories

  // about-more-product
  .about-more-products {
    color: $black;

    &__top {
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        background-color: #F7E9DE;
        z-index: -1;
      }

      &-left {
        padding: 90px 57px 67px 0px;
        flex-grow: 1;
      }

      &-inner {
        max-width: 755px;
        margin-left: auto;
      }

      &-right {
        max-width: 895px;
        width: 100%;
      }

      &-img {
        display: block;
      }
    }

    &__title {
      font: 900 40px / 55px $font;
      letter-spacing: 2.4px;
      color: $black;
      margin-bottom: 20px;
      max-width: 562px;
    }

    &__info {
      margin-bottom: 45px;
      margin-top: 34px;
    }

    &__text {
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 1.6px;
      color: $black;
    }

    &__list {
      counter-reset: item;

      &-item {
        letter-spacing: 1.2px;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &-title {
        font: 700 20px/22px Roboto;
        margin-bottom: 7px;
        letter-spacing: 1.9px;

        &::before {
          counter-increment: item;
          content: counter(item) '.';
          margin-right: 15px;
        }
      }

      &-text {
        letter-spacing: 1.7px;
        line-height: 34px;
      }

    }

    &__bottom {
      align-items: stretch;

      &-left {
        max-width: 50%;
        width: 100%;
        flex-grow: 1;
      }

      &-box {
        max-width: 756px;
        margin-left: auto;
      }

      &-img {
        display: block;
      }

      &-right {
        width: 50%;
        padding: 72px 0 80px 67px;

        .about-more-products__text {
          max-width: 548px;
          font-weight: 300;
        }
      }
    }
  }

  // about-more-product
}

// 
@media(max-width: 1710px) {
  .main {
    .about-more-products {

      &__top {}

      &-left {}

      &-inner {}

      &-right {
        max-width: 50%;
        width: 100%;
      }

      &-img {}
    }
  }
}

@media(max-width: 1650px) {
  .main {
    .about-more-products {

      &__top {
        padding-left: 15px;
        padding-right: 15px;

        &::before {
          width: 100%;
        }

        &-right {
          display: none;
        }

        &-inner {
          max-width: 100%;
        }
      }

      &__title {
        max-width: 100%;
      }

      &__bottom {
        align-items: center;
      }
    }
  }
}

@media(max-width: 1366px) {
  .main {
    .preview-content {
      &__top {}

      &__bottom {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 0;

        &-left {
          padding-right: 25px;
          width: 100%;
        }

        &-right {
          position: static;
          width: fit-content;
          margin-left: auto;
          margin-right: auto;
        }

      }

      &__title {}

      &__descr {}

      &__text {}

      &__link {}

      &__img {}
    }

    .about-more-products {
      &__bottom {
        flex-direction: column;

        &-left {
          order: 2;
        }

        &-right {
          width: 100%;
          padding: 30px 15px 40px;

          .about-more-products__text {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .main {
    .preview-content {
      &__top {}

      &__bottom {

        &-left {}

        &-right {}

      }

      &__title {
        font: 900 30px/40px Roboto;
      }

      &__descr {}

      &__text {
        font: 300 16px/20px Roboto;

        &--accent {
          font-weight: 700;
        }
      }

      &__link {}

      &__img {}
    }
  }

  .main>.wrapper>.preview>.container>.preview-content>.preview-content__top {
    grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
    grid-template-rows: repeat(auto-fit, 250px);
    grid-gap: 30px 64px;
    margin-bottom: 99px;
  }

  .main>.wrapper>.preview>.container>.preview-content>.preview-content__top>.preview-content__link {
    min-height: 250px;
  }
}

@media(max-width: 700px) {
  .main {
    .hero__container {
      justify-content: flex-start;
      align-items: center;

      .hero__info {
        text-align: center;
        margin-top: -50px;
      }
    }

    .about-more-products {
      &__top {
        padding: 90px 0 0px;

        &-left {
          padding: 0 57px 30px 15px;
        }

        &-right {
          display: block;
        }
      }

      &__bottom {
        &-left {
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .main {
    .hero {
      background-image: url('../images/dest/mainPage/heroBgMin.jpg');
    }
  }

  .main .slideProdDescr-btn {
    display: block;
    width: 40px;
    height: 40px;
  }

  .main>.wrapper>.preview>.container>.preview-content>.preview-content__top {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 -15px 60px;
  }

  .main .product-descr__title {
    max-width: 482px;
    font: 700 25px/37px Roboto;
  }
}

@media (max-width: 481px) {
  .main .preview-content__title {
    font: 900 25px/37px Roboto;
    text-align: center;
  }

  .main .preview-content__bottom-right {
    margin-left: -15px;
    margin-right: -15px;
  }

  .main .about-more-products__title {
    font: 900 25px/37px Roboto;
    text-align: center;
  }

  .main .about-more-products__list-title {
    font: 700 20px/37px Roboto;
    padding-right: 25px;
  }

  .main .product-descr__link {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 300px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .main .about-more-products__top-left {
    padding: 0 15px 30px 15px;
  }
}