.main {
  .hero {
    padding: 100px 0;
    min-height: 765px;
    display: flex;
    background-color: #eedecf;
    @extend %bg-cover;

    &__container {
      justify-content: center;
      width: 100%;
    }

    &__info {
      color: $black;
      margin-top: -90px;
    }

    &__title {
      font: 900 40px /45px $font;
      margin-bottom: 15px;
      letter-spacing: 0.43px;
    }

    &__descr {
      font: 400 20px/25px $font;
      letter-spacing: 0.43px;
      max-width: 350px;
    }
  }

  // product-descr
  .product-descr {
    padding: 40px 0;

    &__title {
      max-width: 864px;
      text-align: center;
      font: 700 30px/37px $font;
      margin-bottom: 50px;
      color: $black;
    }

    &__link {
      display: block;
      width: fit-content;
    }

    .swiper-container {
      margin: 0 auto 50px;
      max-width: 670px;
    }

    .swiper-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .swiper-slide {
      width: 103px;
      width: 100%;

      &__box {
        width: 62px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &__img {
        width: 62px;
        height: 62px;
        display: block;
        margin-bottom: 15px;
      }

      &__text {
        white-space: nowrap;
      }
    }
  }

  // product-descr
  //preview
  .preview {
    padding: 40px 0;
    position: relative;
    overflow-x: hidden;
  }

  .preview-content {
    &__top {
      grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
      grid-template-rows: 352px;
      grid-gap: 30px 64px;
      margin-bottom: 90px;
    }

    &__bottom {
      grid-template-columns: repeat(auto-fill, minmax(510px, 1fr));
      grid-gap: 30px 0px;

      &-left {
        padding-right: 190px;
      }

      &-right {
        position: absolute;
        left: 50%;
        width: 100%;
        background-color: #EFDDCF;
      }

    }

    &__title {
      font: 900 40px/55px $font;
      letter-spacing: 0.96px;
      margin-bottom: 18px;
      color: $black;
    }

    &__descr {
      margin-bottom: 40px;
    }

    &__text {
      font: 300 16px/32px $font;
      letter-spacing: 1.6px;
      color: $black;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &--accent {
        font-weight: 500;
      }
    }

    &__link {
      @extend %bg-cover;
      text-align: center;

      &-text {
        max-width: 356px;
        font: 900 25px / 37px $font;
        letter-spacing: 0.48px;
        color: $black;
      }
    }

    &__img {
      max-width: 962px;
    }
  }

  //preview

  // slider-categories
  .slider-categories {
    padding: 20px 0;
  }

  
  .slider-categories__container>.swiper-container>.slide-btn{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #F3F3F3;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 10;
  }
  .slider-categories__container>.swiper-container>.slide-btn-prev{
    @extend %bg-contain;
    background-size: 50%;
    background-image: url('../images/dest/sprite.svg#prevArrow');
    left: 0;
  }
  .slider-categories__container>.swiper-container>.slide-btn-next{
    @extend %bg-contain;
    background-size: 50%;
    background-image: url('../images/dest/sprite.svg#nextArrow');
    right: 0;
  }
  // slider-categories

  // about-more-product
  .about-more-products{
    color: $black;
    &__top{
      position: relative;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 70%;
        height: 100%;
      background-color: #F7E9DE;
      z-index: -1;
      }
      &-left{
        padding: 86px 67px 67px 0px;
        flex-grow: 1;
      }
      &-inner{
        max-width: 746px;
        margin-left: auto;
      }
      &-right{
        max-width: 895px;
        width: 100%;
      }
      &-img{
        display: block;
      }
    }
    &__title{
      font: 900 40px / 55px $font;
      letter-spacing: 0.96px;
      color: $black;
      margin-bottom: 30px;
      max-width: 562px;
    }
    &__info{
      margin-bottom: 36px;
    }
    &__text{
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 1.2px;
      color: $black;
    }
    &__list{
      counter-reset: item;
      &-item{  
        letter-spacing: 1.2px;     
        &:not(:last-child){
          margin-bottom: 15px;
        }
      }
      &-title{
        font: 700 20px / 24px $font;
        margin-bottom: 15px;
        
        &::before{
          counter-increment: item;
          content: counter(item) '.';
          margin-right: 10px;
        }
      }
    }

    &__bottom{
            align-items: stretch;
      &-left{
        max-width: 50%;
        width: 100%;
        flex-grow: 1;
      }
      &-box{
        max-width: 756px;
        margin-left: auto;
      }
      &-img{
        display: block;
      }
      &-right{
        width: 50%;
        padding:72px 0 88px 67px;
        .about-more-products__text{
          max-width: 548px;
          font-weight: 300;
        }
      }
    }
  }
  // about-more-product
}

// 
