.mens-health {
  .top {
    min-height: 323px;
    background-image: url('../images/dest/pageMenhealth/top-bg.jpg');
    &::before{
      background-color: rgba($color: #D65F57, $alpha: 0.5);
    }
    &__container{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: inherit;
      width: 100%;
    }
    &__title {
      margin-top: -72px;
    letter-spacing: 2px;
    margin-left: -21px;
    }
  }
  &__title{
    padding: 30px 0 30px;
    max-width: 1009px;
    margin: 0 auto;
    text-align: center;
    font:400 18px/25px $font;
    letter-spacing: 0.48px;
    color: #727272;
  }
  .categories {
    &__items {
      padding:0px 50px 80px;
    }
  }
}
@media (max-width: 480px) {
  .mens-health {
    .top {
      background-image: url('../images/dest/pageMenhealth/topBgMin.jpg');
    }
  }  
  .mens-health__title {
    padding: 30px 15px 30px;
}
.mens-health .categories__items {
  padding: 0 10px 80px;
}
}