.slimming {
  .top {
    min-height: 323px;
    background-image: url('../images/dest/pageSlimming/top-bg.jpg');

    &::before {
      background-color: rgba(#E7B91D, .5);
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: inherit;
      width: 100%;
      padding-top: 0;
    }

    &__title {
      margin-top: -24px;
      margin-left: -10px;
      letter-spacing: 2px;
    }
  }

  &-title {
    padding: 27px 0 34px;
    max-width: 1009px;
    margin: 0 auto;
    text-align: center;
    font: 400 18px/25px Roboto;
    letter-spacing: .56px;
    color: #727272;
  }

  .categories {
    &__items {
      padding: 0px 50px 80px;
    }
  }

}

@media (max-width: 480px) {
  .slimming {
    .top {
      min-height: 323px;
      background-image: url('../images/dest/pageSlimming/topBgMin.jpg');
    }
  }

  .slimming-title {
    padding: 27px 15px 34px;
  }

  .slimming .categories__items {
    padding: 0px 10px 80px;
  }
}