// Colors
$black: #000000;
$white: #ffffff;
$bg:#272727;
$text-color: #727272;
// Colors
// Font
$font: 'Roboto';
$font-default: 400 16px/22px $font;
$font-title: 700 40px/ 47px $font;
// Font

%bg-cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
%bg-contain{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}